{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <h1> You are already logged in </h1>
  {% else %}
    <div style="text-align: center" class="col-md-6 offset-md-3">
      <h1> <span> Sign In </span> to your account </h1>
      <form method="POST" action="{% url "login" %}">
        <br>
        {% csrf_token %}
        <div class="mb-3">
          <input  class="inpdark"  type="text" class="form-control" name="username" placeholder="Enter your username">
        </div>
        <br>
        <div class="mb-3">
          <input class="inpdark" type="password" class="form-control" name="password" placeholder="Enter your password">
        </div>
        <br>
        <button type="submit" class="btn btnaqua"> Login </button>
      </form>
    </div>
  {% endif %}
{% endblock  %}