{% extends 'base.html' %}

{% block content %}
  {% if profile %}
    <div class="container text-center">
      <h1> {{ profile.user.username }}'s Profile </h1>
      <div class="card bg-dark">
        <h5 class="card-header"> <strong> Follows </strong> </h5>
        <br>
        <p class="card-text">
          {% for following in profile.follows.all %}
            <a href="{% url "profile" following.user.id %}"> @{{ following }} </a> <br>
          {% endfor %}
        </p>
        <br>
      </div>
      <div class="card bg-dark">
        <h5 class="card-header"> <strong> Followed By </strong> </h5>
        <br>
        <p class="card-text">
          {% for following in profile.followed_by.all %}
            <a href="{% url "profile" following.user.id %}"> @{{ following }} </a>
          {% endfor %}
        </p>
        <br>
      </div>
      <form method='POST'>
        {% csrf_token %}
        {% if profile in user.profile.follows.all %}
          <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit"> unfollow @{{ profile.user.username|lower }} </button>
        {% else %}
          <button class="btn btn-outline-success" name="follow" value="follow" type="submit"> follow @{{ profile.user.username|lower }} </button>
        {% endif %}
      </form>
    </div>
  {% endif %}
{% endblock %} 