{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin: 20px 30px">
  <h1 style="text-align: center"> <span>Search</span> User </h1>
  <br>
  <form method="POST" style="text-align: center">
    {% csrf_token %}
    <input class="inpdark" type="input" class="form-control" placeholder="Search User" name="search">
    <button type="submit" class="btn btnaqua"> Search </button>
  </form>
  {% if search %}
    <br>
    <p style="text-align: center"> You searched for: {{ search }} </p>
  {% endif %}
  <div class="profiless">
  {% if searched %} 
    {% for result in searched %}
      
        <div class="card bg-dark mb-3" style="border-radius: 40px;">
          <div class="cardss">
            <div>
            {% if result.profile.profile_image %}
                <img src="{{ result.profile.profile_image.url }}" alt="" height="200" width="200" class="img-fluid rounded-circle">
            {% else %}
                <img src="{% static "images/logo.png" %} " height="200" width="200" class="img-fluid rounded-circle" alt="" />
            {% endif %}
            </div>
            <div>
              <div class="card-body">
                <h5 class="card-title"> {{ result.profile.user.username }} </h5>
                <p class="card-text"> <a class="profile-tags" href="{% url "profile" result.profile.user.id %}"> @{{ result.profile.user.username|lower }} </a> </p>
                <p class="card-text">
                <small class="text-body-secondary"> {{ result.profile.date_modified }} </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      
    {% endfor %}
  {% else %}
    {% if searched == None %}
    
    {% else %}
      <p> No users found containing {{ search }}! Please try again </p>
    {% endif %}
  {% endif %}
</div> 
</div>
{% endblock %}