{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1> Search Nex </h1>
  <form method="POST">
    {% csrf_token %}
    <input type="input" class="form-control" placeholder="Search Nex" name="search">
    <button type="submit" class="btn btn-secondary"> Search </button>
  </form>
  {% if search %}
    <p> You searched for: {{ search }} </p>
    {% for nex in searched %}
      <div class='alert bg-dark nex' role='alert'>
        <div class="container">
          <div class="row">
            <div class="col-1">
              {% if nex.user.profile.profile_image %}
                <img src="{{ nex.user.profile.profile_image.url }}" alt="" height="50" width="50" class="rounded-circle">
              {% else %}
                <img src="{% static "images/logo.png" %}" alt="" height="50" width="50" class="rounded-circle">
              {% endif %}
            </div>
            <div class="col-10">
              {{ nex.body }} <br>
                <small class="text-muted">
                  {{ nex.created_at }} by @{{ nex.user.username }} - {{ nex.number_of_likes }} likes
                  {% if user in nex.likes.all %}
                    <a href="{% url "nex_like" nex.id %}"> <i style="color:#ff004f;" class="fa fa-heart"> </i></a>
                  {% else %}
                    <a href="{% url "nex_like" nex.id %}"> <i style="color:#ff004f;" class="fa fa-heart-o"> </i></a>
                  {% endif %} 
                  <a href="{% url "nex_show" nex.id %}"> <i style="color:aquamarine;" class="fa fa-share"></i></a>
                  {% if request.user.username == profile.user.username %}
                    <a href="{% url "delete_nex" nex.id %}"> <i style="color:grey;" class="fa fa-trash-alt"></i></a>
                  {% endif %}
                </small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}