{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <h1 style="text-align: center"> <span>Search</span> Nex </h1>
  <br>
  <form method="POST" style="text-align: center">
    {% csrf_token %}
    <input class="inpdark" type="input" class="form-control" placeholder="Search Nex" name="search">
    <button type="submit" class="btn btnaqua"> Search </button>
  </form>
  {% if search %}
  <br>
    <p style="text-align: center"> You searched for: {{ search }} </p>
    {% for nex in searched %}
    <div class="editer">
        <div class='alert bg-dark nex' role='alert'>
          <div class="container">
            <div class="row">
              <div class="bodymain">
                {% if nex.user.profile.profile_image %}
                  <img src="{{ nex.user.profile.profile_image.url }}" alt="" height="50" width="50" class="rounded-circle">
                {% else %}
                  <img src="{% static "images/logo.png" %}" alt="" height="50" width="50" class="rounded-circle">
                
                {% endif %}
                <p>{{ nex.body }}</p>
              </div>
              <div>
                
                  <small class="text-muted">
                    {{ nex.created_at }} by <br>@{{ nex.user.username }} - {{ nex.number_of_likes }} likes
                    {% if user in nex.likes.all %}
                      <a href="{% url "nex_like" nex.id %}"> <i style="color:#ff004f;" class="fa fa-heart"> </i></a>
                    {% else %}
                      <a href="{% url "nex_like" nex.id %}"> <i style="color:#ff004f;" class="fa fa-heart-o"> </i></a>
                    {% endif %} 
                    <a href="{% url "nex_show" nex.id %}"> <i style="color:aquamarine;" class="fa fa-share"></i></a>
                    {% if request.user.username == profile.user.username %}
                      <a href="{% url "delete_nex" nex.id %}"> <i style="color:grey;" class="fa fa-trash-alt"></i></a>
                    {% endif %}
                  </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}