@charset "UTF-8";

.absolute {
    font-family: monospace;
    color: white;
}

.bg-darker {
    background: #222222;
}

.bg-black {
    background: black;
}

.logo {
    height: 60px;
    border-radius: 40%;
    margin: 0 50px;
}

.nava {
    font-size: 20px;
}

.search-bar {
    background: black;
    border: none;
    border-radius: 15px;
}

.banner {
    color: red !important;
    background: rgb(62, 0, 0) !important;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.profile-tags {
    color: darkturquoise !important;
    text-decoration: none !important;
}

.nex {
    border: none;
    color: white;
    font-size: 18px;
}